<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Happy Tails</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Walking made simple for your furry friend. For happy, healthy, and satisfied pets.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/auth/login" class="btn btn-primary btn-lg px-4 me-sm-3">Log in</a>
            <a href="/auth/signup" class="btn btn-outline-secondary btn-lg px-4">Create account</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="/images/homepage-hero.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Join our community</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#cpu-fill"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#calendar3"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#home"></use>
            </svg>
            <div>
                <h3 class="fw-bold mb-0 fs-4">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-6 order-sm-1">
            <img src="/images/homepage-about-happy-tails-lovers.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-12 col-sm-12 col-lg-6 order-sm-2">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Need assistance walking your pet?</h1>
            <p class="lead">We connect pet owners with their neighbors who are happy to help 
                                                                                                                    with
                <strong>pet walking</strong>.</p>
            <p class="lead">Easily find trusted and reliable assistance for your 
                                                                                                                    furry friend's exercise and care.</p>
            <p class="lead">
                <strong>Join our community</strong>
                of pet enthusiasts and start making connections today!</p>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-12 col-lg-6">
            <img src="/images/homepage-about-me.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"></div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Behind Happy Tails</h1>
            <p class="lead">
                I am Vanessa Lamas, passionate about using my abilities to help 
                                                                                                    the community give their pets a better life.</p>
            <p class="lead">
                I believe that every pet deserves a loving and caring home, and I am
                <strong>committed to helping pet owners find the resources they need 
                                                                                                                                to ensure their pets' health and happiness.</strong>
            </p>
            <p class="lead">
                My goal is to use my expertise learned in Ironhack to develop innovative 
                                                                                                    solutions that will make a positive impact on pets and their 
                                                                                                    owners in the community.</p>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-6 order-sm-1">
            <img src="/images/homepage-about-happy-tails-owners.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-12 col-sm-12 col-lg-6 order-sm-2">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Why help pet owners?</h1>
            <p class="lead">
                Walking dogs can provide many benefits for humans beyond just the pet owner.
              <p class="lead">   For example, it can improve physical fitness, reduce stress, and 
                 increase socialization.</p>
                <p class="lead">  It can also provide a sense of purpose and 
                 help people get outside and enjoy nature. By walking dogs, people 
                 can reap these benefits while also helping to provide exercise and 
                 stimulation for furry friends.</p>
                  </div>
    </div>
</div>
