
<h1>Editing pet</h1>

<form action="/edit-pet" method="post">

  <input type="hidden" name="id" value="{{ pet.id }}">

  <label> Title:
    <input type="text" name="title" value="{{ pet.name }}" required />
  </label>

  <button type="submit"> Update </button>
</form>