
<h1>Editing pet</h1>
<form action="/all-pets/{{data._id}}/edit" method="POST">
  <input type="hidden" name="id" value="{{data._id}}">
  <label> Name:
    <input type="text" name="name" value="{{data.name}}" required />
  </label>
   <button>Save changes</button>
</form>


