<h1>{{ data.name }}</h1>




<form action="/all-pets/{{pet._id}}" method="GET">
<button>Delete</button>
</form>


<a href="/all-pets/{{pet._id}}"> Delete Pet </a>


Aqui hay que poner el boton de edit para que vaya a otra pagina y el de delete 