<h1>{{ data.name }}</h1>





<form action="/all-pets/{{data._id}}/delete" method="POST">
<button>Delete</button>
</form>




Aqui hay que poner el boton de edit para que vaya a otra pagina y el de delete 