<h1>{{ data.name }}</h1>





<form action="/all-pets/{{data._id}}/delete" method="POST">
<button>Delete</button>
</form>

<form action="/all-pets/{{data._id}}/edit" method="GET">
<button>Edit</button>
</form>