body {
  font-family: 'Barlow', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

.modal {
  height: 90% !important;
}

.bg-success-subtle-menu {
  background-color: #d4d7d8;
}

.bg-success-subtle-main-banner {
  background-color: #f4f7f8;
}

.bg-success-subtle-main-banner-opacity {
  background-color: rgba(223, 230, 225, 0.5); 
}

#login-form {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
     display: flex;
  align-items: center;
}